
<div class="container">
    <div class="row">

        <div *ngIf="showMsg">
            <div class="col-xs-12">
                <p class="alert alert-success">
                    <strong>Registration Success!</strong> Please click employees List.
                </p>
            </div>
        </div>
                  
        <div class="col-md-6 offset-md-3 col-xs-6">
                <h4>Registration</h4>

            <form [formGroup]="registration" (ngSubmit)="onSubmit()">
                <br/>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" formControlName="firstName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && firstName.errors }" />
                        <div *ngIf="submitted && firstName.errors" class="invalid-feedback">
                            <div *ngIf="firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && lastName.errors }" />
                        <div *ngIf="submitted && lastName.errors" class="invalid-feedback">
                            <div *ngIf="lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                          
                </div>

                <br/>
                <div class="col-md-6 offset-md-3 col-xs-12">
                    <div class="form-group">
                        <label>
                            <input type="radio" value="Male" formControlName="gender" [checked]="true" [(ngModel)] ="gender">
                            <span>Male</span>
                        </label>
                        <label>
                            <input type="radio" value="Female" formControlName="gender">
                            <span>Female</span>
                        </label>

                    </div>

                    <br/>
                    <div class="form-group">
                            <label for="department">Department</label>
                            <input type="text" formControlName="department" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && department.errors }" />
                            <div *ngIf="submitted && department.errors" class="invalid-feedback">
                            </div>
                        </div>

                    <div class="form-group">
                        <p>
                            <mat-form-field>
                               <mat-label>Date of Birth</mat-label>
                               <input matInput [matDatepicker]="picker" formControlName="dob" >
                               <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                               <mat-datepicker #picker startView="year"  [startAt]="startDate"></mat-datepicker>
                             </mat-form-field>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="!registration.valid" class="btn btn-primary">Submit</button>
                </div>
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            </form>
        </div>
    </div>
</div>